---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { formatStringDateAndTime } from '../utils/formatStringData'
import { fetchTechBlogList } from '../library/fetchTechBlog'
import { fetchDailyLifeBlogList } from '../library/fetchDailyLifeBlog'
import FlexContainer from '../layouts/FlexContainer.astro'
import Header from '../components/Header.astro'

const techBlogList = await fetchTechBlogList()
const dailyLifeBlogList = await fetchDailyLifeBlogList()
---

<Layout title="いっせいブログ">
  <Header breadcrumbList={[{ path: '/', title: 'ブログ一覧' }]} />
  <main>
    <FlexContainer justifyContent="center" gap="30px">
      <div>
        <h2 class="head">技術</h2>
        <p>{techBlogList.contents.length}件</p>
        <ul role="list" class="link-card-grid">
          {
            techBlogList.contents.map((content) => (
              <Card
                href={`/blog/${content.id}`}
                title={content.title}
                content={content.content}
                createdAt={formatStringDateAndTime(content.createdAt)}
              />
            ))
          }
        </ul>
      </div>
      <div>
        <h2 class="head">日常</h2>
        <p>{dailyLifeBlogList.contents.length}件</p>
        <ul role="list" class="link-card-grid">
          {
            dailyLifeBlogList.contents.map((content) => (
              <Card
                href={`/blog/${content.id}`}
                title={content.title}
                content={content.content}
                createdAt={formatStringDateAndTime(content.createdAt)}
              />
            ))
          }
        </ul>
      </div>
    </FlexContainer>
  </main>
</Layout>

<style>
  main {
    padding-top: 100px;
  }

  p {
    font-size: 20px;
    text-align: right;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
  }

  .head {
    text-align: center;
  }

  .link-card-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
</style>
